.center-area{
  padding-top: 50px;
  height: 100%;
}

.sidebar {
  left: 0%;  padding-top: 24px;
  width: 164px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  width: 22%;
  overflow: auto;
  text-align: right;
  padding-right: 20px;
}

.middle{
   padding-top: 24px;
   max-width: 1100px;
   width: 50%;
   margin: 0 auto;
   border: 1px soild;
   border-left-width: 2px;
  /*background-color:  #FAFAD2;*/
}


.right-sidebar{
  float: right;
  padding-top: 24px;
  width: 22%;
  /*background-color: #f1f1f1;*/
  padding-left: 20px;
  margin-right: 0%;
}

.question-box{
  background-color: #f1f1f1;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.leftbox{
  display: inline-block;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border : 2px solid black;
}
.smallbox{
  text-align: center;
  width: 70px;
  height: 50px;
  border : 2px solid black;
  display: inline-block;
}
.rightbox{
  display: inline-block;
  /*border : 2px solid black;
  max-width: calc(50%-140px);
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  width: auto;*/
}
.username{
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  width: 150px;
}
table, tr, th{

  border: 1px solid black;
  height: 30px;
  padding-right: 100px;
}
.choose{
  left:50%;
}
