{% extends 'base.html' %}

{% block content %}

<div class="middle">
    <h2>Ask a Question</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=100) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body(cols="60", rows="5") }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
    
<!-- <form action="/newquestion" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
      <label for="pwd">Question Body</label>
      <textarea class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form> 
  </div> -->
{% endblock %}