{% extends 'base.html' %}

{% block include %}
    <script>

        function upvote(question_id){
            $.post('/upvote', {
                question_id: question_id,
            }).done(function(response) {
                let spanid = "voteC_" + question_id; 
                console.log(response);
                document.getElementById(spanid).innerText = parseInt(response);
            }).fail(function() {
                
            });
        }
        function downvote(question_id){
            $.post('/downvote', {
                question_id: question_id,
            }).done(function(response) {
                let spanid = "voteC_" + question_id; 
                console.log(response);
                document.getElementById(spanid).innerText = parseInt(response);
            }).fail(function() {
                
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="middle">
      <div> 
        {% if session.get('user') %}<a href="askquestion" class="btn btn-primary">Ask Question</a>{% endif %}
      </div>
      <div class="choose">
        <table>
          <tr>
            <th> <a href="/newest" class="btn btn-default" name="Newest">Newest</th>
            <th> <a href="/popular" class="btn btn-default" name="Popular">Popular</a></th>
            <!-- <th> <button type="button" class="btn btn-default" name="Newest">Test</button></th>
            <th> <button type="button" class="btn btn-default" name="Newest">Test</button></th> -->
          </tr>
        </table>
      </div>
      <br><br>
      
      {% if questions %}
        {% for question in questions %}
        <div class="row question">
            <div class="col-sm-2 quesdetails"> 
              <span id="voteC_{{ question.question_id }}">{{ question.upvotes-question.downvotes }}</span> <br>votes <br> {{ question.answer_count }} <br>answers<br>
              {% if session.get('user') %}
              {% if session.get('user')['reputation']>4 %}<button type="button" onclick="upvote('{{ question.question_id }}')" id="up-btn" class="btn btn-success glyphicon glyphicon-thumbs-up" ></button>
              {% else %} <button type="button" id="up-btn" title="Not enough reputation" class="btn btn-success glyphicon glyphicon-thumbs-up btn-disabled" ></button>{% endif %}
              {% if session.get('user')['reputation']>=10 %}<button type="button" onclick="downvote('{{ question.question_id }}')" id="down-btn" class="btn btn-success glyphicon glyphicon-thumbs-down" ></button>
              {% else %} <button type="button" id="down-btn" title="Not enough reputation" class="btn btn-success glyphicon glyphicon-thumbs-down btn-disabled" ></button>{% endif %}{% endif %}
            </div>
            <div class="col-sm-10">
              <h4><a href="/question/{{ question.question_id }}">{{ question.title }}</a></h4>
              <div class="ques-text">
                  {{ question.content }}
                </div>
              <span>asked by : <a href="/user/{{ question.userid }}">{{ question.username }}</a></span><br>
              <span>asked at : {{ question.asked_at }}</span>
            </div>
        </div> 
      <!-- <div class="question-box">
          <table >
            <tr>
              <th class="left-cell"> </th>
              <th class="right-cell">
                <h4><a href="question/{{ question.question_id }}" class="question">{{ question.title }}</a></h4>
                <div class="ques-text">
                  {{ question.content }}
                </div>
              </th>
            </tr>
            <tr>
              <th></th>
              <th class="asked-by">asked by : <a href="users/{{ question.userid }}">{{ question.username }}</a>  <br>
                 
              </th>
            </tr>
          </table>
        </div> -->
        <br>
        {% endfor %}
      {% endif %}

  
</div>
    <button type="button" class="btn btn-default" name="Newest">Ask Question</button>

    <!-- <button type="button" class="btn btn-default" name="Newest">Ask Question</button> -->
{% endblock %}
