{% extends 'base.html' %}

{% block content %}

    <div class="sidebar">
        {% block leftSidebar %}
        <a href="#">Option</a> <br>
        <a href="#">Option</a> <br>
        <a href="#">Option</a> <br>
        <a href="#">Option</a> <br>
        <a href="#">Option</a> <br>
        {% endblock %}
      </div>

    <div class="right-sidebar">
      {% block rightSidebar %}
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      {% endblock %}
    </div>

    
    <div class="middle">
      <div class="choose">
        <table>
          <tr>
            <th> <button type="button" class="btn btn-default" name="Newest">Newest</button></th>
            <th> <button type="button" class="btn btn-default" name="Newest">Popular</button></th>
            <th> <button type="button" class="btn btn-default" name="Newest">Test</button></th>
            <th> <button type="button" class="btn btn-default" name="Newest">Test</button></th>
          </tr>
        </table>
      </div>
      <br><br>
      
      {% if questions %}
        {% for question in questions %}
          <div class="question-box">
            <div class="leftbox">
              <div class="smallbox">
               {{ question.upvotes }}<br> votes
              </div>
              <div class="smallbox">
                {{ question.answer_count }} <br> answers
              </div>
            </div>

            <div class="rightbox">
              <a href="#">{{ question.content }}</a>
            </div>
            <div class="username">
              <a href="#">{{ question.username }}</a>
            </div>
          </div>
          <br>
        {% endfor %}
      {% endif %}
      <br>
    </div>

    <button type="button" class="btn btn-default" name="Newest">Ask Question</button>
    {% endblock %}
  <!-- <footer class="bottombar navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <img src="logo2.png" height="30px">
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Title 1</a></li>
        <li><a href="#"> Title 2</a></li>
        <li><a href="#">Title 3</a></li>
        <li><a href="#"> Title 4</a></li>
      </ul>
    </div>
  </footer> -->

  <!-- </body>
</html> -->
