{% extends 'base.html' %}

{% block include %}
    <script>

        function upvote(question_id, answer_id){
            $.post('/upvoteanswer', {
                question_id: question_id,
                answer_id: answer_id
            }).done(function(response) {
                let spanid = "voteC_" + answer_id; 
                console.log(response);
                document.getElementById(spanid).innerText = parseInt(response);
            }).fail(function() {
                
            });
        }
        function downvote(question_id, answer_id){
            $.post('/downvoteanswer', {
                question_id: question_id,
                answer_id: answer_id
            }).done(function(response) {
                let spanid = "voteC_" + answer_id; 
                console.log(response);
                document.getElementById(spanid).innerText = parseInt(response);
            }).fail(function() {
                
            });
        }
    </script>
{% endblock %}

{% block content %}
    
    <div class="middle">
      {% if question %}
      <div class="main-question">
          <h3>{{ question.title }}</h3>
          <p> {{ question.content }} </p><br><br>
          <span>asked by : <a href="/user/{{ question.userid }}">{{ question.username }}</a></span><br>
              <span>asked at : {{ question.asked_at }}</span>
      </div>
      {% endif %}
      <br>
      {% if answers %}
      <h3> {{ question.answer_count }} Answers </h3>
       {% for answer in answers %}
      <div class="answer-box">
        {{ answer.content }}

        <br>
        Answered by : <a href="/user/{{ answer.userid }}">{{ answer.username }}</a>
        <br>    
        <span id="voteC_{{ answer.answer_id }}">{{ answer.upvotes - answer.downvotes}}</span>    
        {% if session.get('user') %}
        {% if session.get('user')['userid']!=answer.userid and session.get('user')['reputation']>4 %}<button type="button" onclick="upvote('{{ question.question_id }}','{{ answer.answer_id }}')" id="up-btn" class="btn btn-success glyphicon glyphicon-thumbs-up" ></button>
        {% else %} <button type="button" id="up-btn" title="Not enough reputation" class="btn btn-success glyphicon glyphicon-thumbs-up btn-disabled" ></button>{% endif %}
        {% if session.get('user')['userid']!=answer.userid and session.get('user')['reputation']>=10 %}<button type="button" onclick="downvote('{{ question.question_id }}','{{ answer.answer_id }}')" id="down-btn" class="btn btn-success glyphicon glyphicon-thumbs-down" ></button>
        {% else %} <button type="button" id="down-btn" title="Not enough reputation" class="btn btn-success glyphicon glyphicon-thumbs-down btn-disabled" ></button>{% endif %}{% endif %}
        

      </div>
      <br>
      {% endfor %}
      {% endif %}
      {% if session.get('user') %}
      <h2>Post your answer</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.answer.label }}<br>
            {{ form.answer(cols="60", rows="5") }}<br>
            {% for error in form.answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    </div>



  </div>
 
{% endblock %}

  <!-- <footer class="bottombar navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <img src="logo2.png" height="30px">
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Title 1</a></li>
        <li><a href="#"> Title 2</a></li>
        <li><a href="#">Title 3</a></li>
        <li><a href="#"> Title 4</a></li>
      </ul>
    </div>
  </footer> -->

  <!-- </body>
</html> -->
