{% extends 'base.html' %}

{% block content %}
    
    <div class="middle">
      {% if question %}
      <div class="main-question">
          <h3>{{ question.title }}</h3>
          <p> {{ question.content }} </p><br><br>
          <span>asked by : <a href="/user/{{ question.userid }}">{{ question.username }}</a></span><br>
              <span>asked at : {{ question.asked_at }}</span>
      </div>
      {% endif %}
      <br>
      {% if answers %}
      <h3> {{ question.answer_count }} Answers </h3>
       {% for answer in answers %}
      <div class="answer-box">
        {{ answer.content }}

        <br>
        Answered by : <a href="/user/{{ answer.userid }}">{{ answer.username }}</a>
        <br>        
        {% if session.get('user') %}<button type="button" class="btn btn-default" name="Newest">Upvote</button>{% endif %}
        <a href="#">{{ answer.upvotes - answer.downvotes}}</a>
        {% if session.get('user') %}<button type="button" class="btn btn-default" name="Newest">Downvote</button>{% endif %}

      </div>
      <br>
      {% endfor %}
      {% endif %}
      {% if session.get('user') %}
      <h2>Post your answer</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.answer.label }}<br>
            {{ form.answer(cols="60", rows="5") }}<br>
            {% for error in form.answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    </div>



  </div>
 
{% endblock %}

  <!-- <footer class="bottombar navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <img src="logo2.png" height="30px">
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Title 1</a></li>
        <li><a href="#"> Title 2</a></li>
        <li><a href="#">Title 3</a></li>
        <li><a href="#"> Title 4</a></li>
      </ul>
    </div>
  </footer> -->

  <!-- </body>
</html> -->
