{% extends 'base.html' %}

{% block content %}

    <!-- <div class="right-sidebar">
      {% block rightSidebar %}
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      <a href="#">Option</a> <br>
      {% endblock %}
    </div> -->

      <div class="middle">
            {% if questions %}
            {% for question in questions %}
          <div class="question-box">
              <table >
                <tr>
                  <th class="left-cell"> 0 <br>votes <br> 0  <br>answers</th>
                  <th class="right-cell">
                    <h4><a href="question/{{ question.question_id }}" class="question">{{ question.title }}</a></h4>
                    <div class="ques-text">
                      {{ question.content }}
                    </div>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th class="asked-by">asked by : <a href="users/{{ question.userid }}">{{ question.username }}</a>  <br>
                     <button type="button" id="down-btn" class="btn btn-success glyphicon glyphicon-thumbs-down" > {{ question.upvotes }} </button>
                     <button type="button" id="up-btn" class="btn btn-success glyphicon glyphicon-thumbs-up" > {{ question.downvotes }} </button>
                  </th>
                </tr>
              </table>
            </div>
            <br><br>
            {% endfor %}
          {% endif %}
      <br>
    </div>

    <button type="button" class="btn btn-default" name="Newest">Ask Question</button>
    {% endblock %}
  <!-- <footer class="bottombar navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <img src="logo2.png" height="30px">
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Title 1</a></li>
        <li><a href="#"> Title 2</a></li>
        <li><a href="#">Title 3</a></li>
        <li><a href="#"> Title 4</a></li>
      </ul>
    </div>
  </footer> -->

  <!-- </body>
</html> -->
