{% extends 'base.html' %}

{% block include %}
    <script>

        function upvote(question_id){
            $.post('/upvote', {
                question_id: question_id,
            }).done(function(response) {
                let spanid = "voteC_" + question_id; 
                console.log(response);
                document.getElementById(spanid).innerText = parseInt(response);
            }).fail(function() {
                
            });
        }
        function downvote(question_id){
            $.post('/downvote', {
                question_id: question_id,
            }).done(function(response) {
                let spanid = "voteC_" + question_id; 
                console.log(response);
                document.getElementById(spanid).innerText = parseInt(response);
            }).fail(function() {
                
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="middle">
        <div class="container">
        <div class="row">
            <h2>Questions tagged [{{ tag.tagname }}]</h2>
        </div>   
        <div class="row">
            <p>{{ tag.description }}</p>
        </div>
        <div class="row">
            {{ tag.question_count }} questions
        </div>
        <br>
        {% for question in questions %}
        <div class="row question">
            <div class="col-sm-2 quesdetails"> 
                <span id="voteC_{{ question.question_id }}">{{ question.upvotes-question.downvotes }}</span> <br>votes <br> {{ question.answer_count }} <br>answers<br>
                {% if session.get('user') %}
                {% if session.get('user')['reputation']>4 %}<button type="button" onclick="upvote('{{ question.question_id }}')" id="up-btn" class="btn btn-success glyphicon glyphicon-thumbs-up" ></button>
                {% else %} <button type="button" id="up-btn" title="Not enough reputation" class="btn btn-success glyphicon glyphicon-thumbs-up btn-disabled" ></button>{% endif %}
                {% if session.get('user')['reputation']>=10 %}<button type="button" onclick="downvote('{{ question.question_id }}')" id="down-btn" class="btn btn-success glyphicon glyphicon-thumbs-down" ></button>
                {% else %} <button type="button" id="down-btn" title="Not enough reputation" class="btn btn-success glyphicon glyphicon-thumbs-down btn-disabled" ></button>{% endif %}{% endif %}
              </div>
            <div class="col-sm-10">
              <h4><a href="/question/{{ question.question_id }}">{{ question.title }}</a></h4>
              <div class="ques-text">
                  {{ question.content }}
                </div>
              <span>asked by : <a href="/user/{{ question.userid }}">{{ question.username }}</a></span>
            </div>
        </div> 
        <br>
        {% endfor %}  
        </div>  
    </div>   

{% endblock %}
