{% extends 'base.html' %}

{% block content %}

<!--Send only 90 characters when you send content for a tag through dictionary-->
<link rel="stylesheet" href="tags.css">

  <div class="middle">

    <div class="container">
      <h2>Tag Name</h2> <br>
      <div class="row">
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span>12345<br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
      </div>
      <div class="row">
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
        <div class="col-sm-3"><div class="tag-box"> <a href="#">Two</a> <span>&#215;</span> 12345 <br>
          <div class="tag-matter">
            It is a long established fact that a reader will be distracted by the readable content.
          </div>
        </div> <hr></div>
      </div>

  </div>

{% endblock %}