{% extends 'base.html' %}

{% block include %}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="users.css">
<div class="middle">
  <br><br>
  <div class="container">
    <div class="row">
    <h3>Showing Users with username like {{ query }}</h2>
    </div>
    <br><br>
    {% for users in user_list %}
    <div class="row">
      {% for user in users %}
      <div class="col-sm-3">
        <table>
          <tr>
          <th><img src="{{ url_for('static', filename='profile.png') }}" alt="" height="60px" width="60px;"></th>
          <th><a href="/user/{{ user.userid }}">{{ user.username }}</a><br><span>&#11088;</span>{{ user.reputation }}<br> User since {{ user.user_since.strftime('%Y-%m-%d') }}</th>
          </tr>
        </table>
        <hr>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}