{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="users.css">
<div class="middle">
    <div class="container">
      <h2>Users</h2> <br>
      <div class="row">
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>

        </div>
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
            <th><img src="Lego_1.jpg" alt="" height="60px" width="60px;"></th>
            <th><a href="#">username</a><br><span>&#11088;</span>12345</th>
            </tr>
          </table>
          <hr>
        </div>
      </div>


  </div>

{% endblock %}